.item_container {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 20px;
  margin: 0px 30px;
  cursor: pointer;
  height: 100%;
}

.item_img {
  margin-top: 30px;
}

.item_info {
  padding: 0px 30px;
  margin-bottom: 30px;
}

.item_title {
  font-size: 19px;
  margin-top: 30px;
  text-align: justify;
}

.item_price {
  font-size: 40px;
  margin-top: 16px;
}

.item_rating_stat {
  font-size: 17px;
  margin-top: 14px;
}