* {
 /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body {
  max-width: 1120px;
  margin: 0px auto;
}

a {
  all: unset;
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

