.header {
  display: flex;
  align-items: center;
  padding: 40px 0px 70px;
}

.header .logo {
  margin-right: auto;
  font-size: 43px;
  font-weight: 700;
  color: #ee4d2d;
}

.header .navitem {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 20px;
  text-align: center;
  width: fit-content;
  margin-top: 15px;
  padding-bottom: 5px;
}

.header .navitem:hover {
  border-bottom: 2px solid black;
}